services:
  - type: web
    name: discord-music-bot
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python bot.py
    envVars:
      - key: DISCORD_TOKEN
        sync: false
      - key: MONGO_URI
        sync: false
      - key: YOUTUBE_COOKIES
        sync: false
      - key: PORT
        value: 8080
